<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body class="container">
    <%- include('header') %>

    <main>
      <div class="jumbotron">
        <h1>Sobre</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
          eligendi nemo autem non fugiat, quae obcaecati reiciendis facere id
          fuga nulla accusamus facilis explicabo sint dignissimos. Quisquam
          deleniti doloribus quasi.
        </p>
      </div>
    </main>

    <%- include('footer') %>
  </body>
</html>
