<!DOCTYPE html>
<html lang="en">
  <%- include('head'); %>

  <body class="container">
    <%- include('header'); %>
    <main>
      <div class="jumbotron">
        <h1>Node com EJ</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          ducimus facere itaque neque et, totam amet quibusdam officia,
          molestias aspernatur aliquid ratione eum voluptates perferendis ab
          labore perspiciatis? Maxime, aperiam?
        </p>
      </div>
    </main>
    <%- include('footer'); %>
  </body>
</html>
